body {
  font-family: "Overpass", sans-serif;
  background-color: #131518;
}

.interactive-component {
  width: 362px;
  height: 366px;
  background: rgb(35, 42, 52);
  background: radial-gradient(circle, rgba(35, 42, 52, 1) 0%, rgba(24, 30, 39, 1) 100%);
  margin: auto;
  margin-top: 25vh;
  border-radius: 25px;
  padding: 50px;
}

.starImg {
  width: 48px;
  height: 48px;
  background-color: #262E38;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  
}

.startImg img {
  width: 16.75px;
  height: 16px;
}

.rating-cta h1{
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 30px;
}

.rating-cta p {
  font-size: 15px;
  color: #969FAD;
}

.ratingNo {
  margin-top: 50px;
}
.ratingNo ul {
  margin-left: -40px;
  list-style: none;
  display: flex;
  width: 341px;
  height: 51px;
  justify-content: space-between;
}

.ratingNo Button{
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: none;
  background-color: #262E38;
  font-size: 16px;
  font-weight: bold;
  color: #969FAD;
  cursor: pointer;
}

.ratingNo Button:focus {
  background-color: #FFFFFF;
  color: #262E38;
}

.ratingNo Button:hover {
  background-color: #FC7614;
  color: #262E38;
}

.submit-btn button {
  width: 341px;
  height: 45px;
  background-color: #FC7614;
  color: #131518;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.submit-btn button:hover {
  background-color: #FFFFFF;
  color: #131518;
}

.interactive-component .thankuImg {
  margin-left: 5.5vw;
}

.rating-result {
  width: 193px;
  height: 40px;
  margin: auto;
  margin-top: 20px;
  background-color: #262E38;
  color: #FC7614;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  align-content: center;
}

.thankyouMessage h2 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 40px;
}

.thankyouMessage p {
  text-align: center;
  font-size: 15px;
  color: #969FAD;
  margin-top: 30px;
}


